.schedule-card {
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .header,
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .workout-type {
    font-size: 1.3rem;
  }

  .workout-date {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .workout-trainer {
    font-size: 0.9rem;
  }
}
