.dialog-window {
  .input-form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 1.5rem;

    .p-inputtext {
      font-size: 0.9rem;
      width: 15rem;
      height: 2rem;
    }
  }
}
